@using Sitecore.Mvc

<!DOCTYPE html>
<html>
<head>
    <title> @Html.Sitecore().Field("Title", Sitecore.Context.Item, new { DisableWebEdit = true })</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/desktop.css" rel="stylesheet" />

    @*Bootstrap CDN*@
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

    @*Bootstrap CDN*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <div>
        <div id="header">
            <a href="/">
                @Html.Sitecore().Field("Logo", Sitecore.Context.Database.GetItem("/sitecore/Content/Global/Configurations"))
            </a>
        </div>

        <div id="menu">
            @Html.Sitecore().Rendering("{9EFEDB64-1835-493F-AA01-06B4CB2A9CF7}")
        </div>

        <div class="container">

            <div id="breadcrumb">
                @Html.Sitecore().Placeholder("breadcrumb")
            </div>

            <div>
                @*Carousel*@
                @Html.Sitecore().Rendering("{CED7B8E2-42BD-4AF1-A694-4D4EC44ACC57}")
            </div>

            <div id="sidemenu">
                @Html.Sitecore().Placeholder("left-column")
            </div>

            <div id="contentarea">
                <article>
                    @Html.Sitecore().Placeholder("main-content")
                </article>
            </div>

        </div>

        <div id="footer">
            @Html.Sitecore().Field("Copyright Text", Sitecore.Context.Database.GetItem("/sitecore/Content/Global/Configurations"))
        </div>
    </div>
</body>
</html>